{% extends 'layouts/base.html' %}

{% block content %}

<h1>About</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores illo debitis quibusdam. Nulla mollitia vel qui perferendis cupiditate eaque quam minima tenetur corrupti commodi. Molestiae porro sunt placeat ipsum voluptate vel ullam dolorum minus fugiat, laboriosam expedita obcaecati beatae nisi quod tempore quisquam, a deserunt et ex! Natus quia modi aspernatur iste culpa molestiae. Earum quod saepe cumque sunt qui odit doloribus velit architecto voluptate, reprehenderit dolore commodi recusandae odio obcaecati illum eveniet ex! Sunt quasi incidunt reprehenderit veniam quidem eligendi neque provident, excepturi nesciunt temporibus asperiores commodi voluptatibus sit? Quidem sit architecto quia ea neque suscipit laudantium ipsam quisquam.</p>

<p>Website created by {{ username }}</p>

{% endblock %}